* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-image: url("https://img.freepik.com/free-photo/beige-paintbrush-stroke-textured-background_53876-129531.jpg?w=2000");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #ffffff;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.cover {
  width: 1200px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 70px;
  font-weight: 800;
  float: left;
  font-family: "Times New Roman", Times, serif;
  color: #364f6b;
}

.menu {
  float: right;
  font-size: 18px;
}

button {
  background: #3f72af;
  border-radius: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

button:hover {
  background: #fc5185;
  text-decoration: none;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.explanation {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 800;
}

.cat-jpg {
  border-radius: 50%;
}

a.pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.pink:hover {
  background: #3f72af;
  text-decoration: none;
}

.pic {
  border-radius: 30%;
}

.column {
  margin-top: 50px;
  margin-bottom: 50px;
}

span {
  color: blue;
}

.column .description {
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: #364f6b;
}

h2 {
  font-family: "sans-serif";
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.middle {
  text-align: center;
  width: 100%;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.card-tutor {
  width: 20%;
  margin: 0 auto;
}

.card-tutor img {
  width: 80%;
  border-radius: 50%;
}

.card-tutor p {
  font-family: "cooper black";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

.team-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 15%;
  background-color: rgb(237, 242, 233);
  padding: 25px;
}

.card-team {
  width: 20%;
  margin: 0 auto;
}

.card-team img {
  width: 150px;
  border-radius: 50%;
}

.card-team p {
  font-family: "cooper black";
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

#contact {
  background: #dedede;
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

h3 {
  font-family: monospace;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 20px;
  color: #364f6b;
  width: 100%;
  line-height: 50px;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
  .cover {
    width: 90%;
  }

  .logo a {
    display: block;
    width: 100%;
    text-align: center;
  }

  nav .menu {
    width: 100%;
    margin: 0;
  }

  nav .menu ul {
    text-align: center;
    margin: auto;
    line-height: 60px;
  }

  nav .menu ul li {
    display: inline-block;
    float: none;
  }

  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }

  .card-tutor {
    width: 50%;
  }

  .card-team {
    width: 50%;
  }
}
